body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
      background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
      background-size: 180% 180%;
      animation: gradient-animation 18s ease infinite;
    
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
}

.left-column {
  flex: 1;
  padding: 20px;
}

.right-column {
  flex: 1;
  padding: 20px;
}

.box {
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.line{
  height:1px;
  /* background-color: #6B9080;
   */
   background-color: #FFDAB9;
}